<%= form_for(@user,url:reg_index_path) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
      <%= f.label :email,'邮箱' %><br>
      <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password,'密码' %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
      <%= f.label "确认密码"%><br>
      <%= f.password_field "password_confirmation"%>
  </div>

  <div class="actions">
    <%= f.submit "注册",class:"btn btn-primary" %>
  </div>
<% end %>
